<div class="main-home flex flex-col h-screen overflow-y-auto">
    <div class="border-b border-[#D1DBEF] header py-2">
        <p class="text-center text-xl font-bold text-[#2196F3]">Groups</p>
    </div>
    <div class="px-4 my-2 py-4">
        <div class="w-full">
            <div class="w-full bg-white shadow-lg grid grid-cols-6 gap-2 px-2 py-3 pt-2 my-1">
                <p class="text-center col-span-2 font-semibold">Group Leader</p>
                <p class="text-center col-span-2 font-semibold">Group Code</p>
                <p class="text-center col-span-2 font-semibold">Password</p>
            </div>
            <div class="w-full bg-white shadow-lg grid grid-cols-6 gap-2 px-2 py-3 pt-2 border-b">
                <p class="text-center col-span-2">Murindahabi Aime</p>
                <p class="text-center col-span-2">RDB3459MPK</p>
                <p class="text-center col-span-2">**********</p>
            </div>
            <div class="w-full bg-white shadow-lg grid grid-cols-6 gap-2 px-2 py-3 pt-2 border-b">
                <p class="text-center col-span-2">Murindahabi Aime</p>
                <p class="text-center col-span-2">RDB3459MPK</p>
                <p class="text-center col-span-2">**********</p>
            </div>
            <div class="w-full bg-white shadow-lg grid grid-cols-6 gap-2 px-2 py-3 pt-2 border-b">
                <p class="text-center col-span-2">Murindahabi Aime</p>
                <p class="text-center col-span-2">RDB3459MPK</p>
                <p class="text-center col-span-2">**********</p>
            </div>
            <div class="w-full bg-white shadow-lg grid grid-cols-6 gap-2 px-2 py-3 pt-2 border-b">
                <p class="text-center col-span-2">Murindahabi Aime</p>
                <p class="text-center col-span-2">RDB3459MPK</p>
                <p class="text-center col-span-2">**********</p>
            </div>
            <div class="w-full bg-white shadow-lg grid grid-cols-6 gap-2 px-2 py-3 pt-2 border-b">
                <p class="text-center col-span-2">Murindahabi Aime</p>
                <p class="text-center col-span-2">RDB3459MPK</p>
                <p class="text-center col-span-2">**********</p>
            </div>
            <div class="w-full bg-white shadow-lg grid grid-cols-6 gap-2 px-2 py-3 pt-2 border-b hover:border-[#2196F3]">
                <p class="text-center col-span-2">Murekezi Erick</p>
                <p class="text-center col-span-2">RDB3009MOK</p>
                <p class="text-center col-span-2">***********</p>
            </div>
            <div class="w-full bg-white shadow-lg grid grid-cols-6 gap-2 px-2 py-3 pt-2 border-b">
                <p class="text-center col-span-2">Murindahabi Aime</p>
                <p class="text-center col-span-2">RDB3459MPK</p>
                <p class="text-center col-span-2">**********</p>
            </div>
            <div class="w-full bg-white shadow-lg grid grid-cols-6 gap-2 px-2 py-3 pt-2">
                <p class="text-center col-span-2">Murekezi Erick</p>
                <p class="text-center col-span-2">RDB3009MOK</p>
                <p class="text-center col-span-2">***********</p>
            </div>
            
        </div>
    </div>
</div>
