<div class="w-full flex flex-col justify-between min-h-screen  bg-[#F8F9FC] overflow-x-hidden">

    <!-- <div class="flex items-center justify-between py-2 px-3">
        <div class=""><p class="text-blue-600 font-bold text-xl px-4 py-3 cursor-pointer">Gorillas Outside the Park</p></div>
        <div class="py-1"><p class="rounded-2xl bg-blue-500 text-white w-32 text-center py-2 cursor-pointer" routerLink="/login">Sign in</p></div>
    </div> -->
    <app-header></app-header>
    <div class="px-24">
    <div class="w-full flex justify-center mt-8 mb-10">
        <img src="assets/grl.jpg" alt="Not found" class="w-1/2 rounded">
        <p class="text-lg text-center px-10 w-full md:w-1/2 cursor-pointer rounded-lg py-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam possimus, eligendi, animi commodi delectus aliquam libero amet tempora voluptate harum facere! Nam sed odit natus alias! Et nihil eum provident.</p>
    </div>

    <div class="w-full gap-4 px-4 bg-blue-500 rounded-lg mb-12">
        <div class="w-full flex justify-center">
            <p class="text-center text-2xl font-bold cursor-pointer transition-all px-4 py-2 text-white">Main Features</p>
        </div>
        <div class="flex flex-wrap gap-4 w-full justify-center">
            <div class="px-4 py-4  rounded-md feature">
                <p class="text-center font-semibold text-white text-lg">Reporting</p>
                <div class="py-2 px-4 text-center text-white text-md">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptas saepe quibusdam deleniti repellat facere, quos in nesciunt labore perspiciatis. Iste nobis minus vel fuga explicabo sequi ipsa consequatur ducimus.
                </div>
            </div>
            <div class="px-4 py-4  rounded-md feature">
                <p class="text-center font-semibold text-white text-lg">Syncronization</p>
                <div class="py-2 px-4 text-center text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptas saepe quibusdam deleniti repellat facere, quos in nesciunt labore perspiciatis. Iste nobis minus vel fuga explicabo sequi ipsa consequatur ducimus.
                </div>
            </div>
        <div class="px-4 py-4  rounded-md feature">
            <p class="text-center font-semibold text-white text-lg">Real Time</p>
            <div class="py-2 px-4 text-center text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptas saepe quibusdam deleniti repellat facere, quos in nesciunt labore perspiciatis. Iste nobis minus vel fuga explicabo sequi ipsa consequatur ducimus.
            </div>
        </div>
    </div>
    </div>
</div>
</div>

<div class="border-t">
<app-footer></app-footer>
</div>