<div class="w-full  flex items-center justify-between bg-white mt-0 py-2">
    <div class="">
       <h1 class="px-4 cursor-pointer font-bold" routerLink="/">GOP WEB</h1>
    </div>
    <div>
        <div class="lg:flex gap-3 mr-2">
            <span class="px-2 text-md hover:border-b border-blue-600 cursor-pointer" routerLink="/">Home</span>
            <span class="px-2 text-md hover:border-b border-blue-600 cursor-pointer" routerLink="/reports">Reports</span>
            <span class="ppx-2 text-md hover:border-b border-blue-600 cursor-pointer" routerLink="/groups">Profile</span>
        </div>
    </div>
</div>