<app-header></app-header>
<div class="bg-[#F8F9FC] w-full gap-0 sm:px-6 md:px-10 xl:px-16 flex flex-wrap">
    <div class="w-full md:w-1/5 lg:w-2/12 px-4 border-[#D1DBEF] pt-8 h-full md:sticky top-5">
        <app-sidebar></app-sidebar>
    </div>
    <div class="w-full md:w-4/5 lg:w-7/12 border-[#D1DBEF]">
        <router-outlet></router-outlet>
    </div>
    <div class="w-full md:w-4/5 lg:w-3/12  border-[#D1DBEF] h-full lg:sticky top-5 md:ml-32 lg:ml-0 mb-4">
        <app-new-group></app-new-group>
    </div>
</div>
<app-footer></app-footer>
