<div class="main-home flex flex-col h-screen overflow-y-auto">
    <div class="border-b border-[#D1DBEF] header py-2">
        <p class="text-center text-xl font-bold text-[#4183C4]">Reports</p>
    </div>
    <div class="px-4 my-2 py-4">
        <app-r-card></app-r-card>
        <mat-divider></mat-divider>
        <app-r-card></app-r-card>
        <mat-divider></mat-divider>
        <app-r-card></app-r-card>
        <mat-divider></mat-divider>
        <app-r-card></app-r-card>
        <mat-divider></mat-divider>
        <app-r-card></app-r-card>
        <mat-divider></mat-divider>
        <app-r-card></app-r-card>
        <mat-divider></mat-divider>
        <div class="w-full bg-white mt-2 px-2 py-1 rounded flex flex-col items-center mx-auto">
            <label class="text-center cursor-pointer text-blue-400">Load more</label>
        </div>
    </div>
</div>
