<div class="flex flex-col">
    <div class="border-b border-[#D1DBEF]">
        <p class="text-center text-xl font-bold text-[#4183C4]">Reports</p>
    </div>
    <div class="px-4 my-2">
        <app-r-card></app-r-card>
        <mat-divider></mat-divider>
        <app-r-card></app-r-card>
        <mat-divider></mat-divider>
        <app-r-card></app-r-card>
        <mat-divider></mat-divider>
        <app-r-card></app-r-card>
        <mat-divider></mat-divider>
        <app-r-card></app-r-card>
        <mat-divider></mat-divider>
        <app-r-card></app-r-card>
    </div>
</div>
