<div class="card flex flex-col mb-4 px-4 pt-6 mt-4">
    <div class="grid grid-cols-6 gap-2">
        <p class="col-span-2 font-semibold">Nkundakozera Enock</p>
        <p  class="col-span-2">Added 6 hours ago</p>
        <p  class="col-span-2 grid justify-items-end cursor-pointer">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="24" height="24" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M7.5,18.86A6.14,6.14,0,1,0,13.64,25,6.14,6.14,0,0,0,7.5,18.86Zm0,9.28A3.14,3.14,0,1,1,10.64,25,3.15,3.15,0,0,1,7.5,28.14Z" fill="#000000"></path><path d="M25.11,18.86A6.14,6.14,0,1,0,31.25,25,6.15,6.15,0,0,0,25.11,18.86Zm0,9.28A3.14,3.14,0,1,1,28.25,25,3.15,3.15,0,0,1,25.11,28.14Z" fill="#000000"></path><path d="M42.75,18.86A6.14,6.14,0,1,0,48.9,25,6.15,6.15,0,0,0,42.75,18.86Zm0,9.28A3.14,3.14,0,1,1,45.9,25,3.15,3.15,0,0,1,42.75,28.14Z" fill="#000000"></path></svg>
        </p>
    </div>
    <div class="flex flex-col">
        <p class="text-[#78999E]">Started at 8:00 AM up to 4 PM</p>
    </div>
    <div class="flex flex-col i-data px-4 rounded">
        <div class="grid grid-cols-6">
            <p class="col-span-3">Report on Agashya Group</p>
            <p class="col-span-3">In 40, 18 individuals were outside the park</p>
        </div>
        <div class="grid grid-cols-6">
            <p class="col-span-3">Gorillas reacted by Running</p>
            <p class="col-span-3">Gorillas were mentioned sick in the report</p>
        </div>
    </div>
    <div class="mt-4 grid justify-items-end">
        <p class="cursor-pointer mb-2">
           <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="24" height="24" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M1.17,1.17V48.89L25,35.07,48.83,48.89V1.17ZM45.83,43.68,25,31.6,4.17,43.68V4.17H45.83Z" fill="#000000"></path></svg>
        </p>
    </div>
</div>