.card{
    background: #FFFFFF;
    box-shadow: 4px 4px 4px #D1DBEF;
    border-radius: 2px;
}
.i-data{
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(157, 165, 163, 0.25);
}

svg{
    fill: #4183C4;
    height: 20px;
    width: 20px;
}