<div class="main-home flex flex-col h-screen overflow-y-auto">
    <div class="border-b border-[#D1DBEF] header py-2">
        <p class="text-center text-xl font-bold text-[#4183C4]">New Report</p>
    </div>
    <div class="px-4 my-2 pt-4">
          <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>BASIC INFO</ng-template>
                <div class="grid grid-cols-6 gap-4">
                <mat-form-field class="col-span-2">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col-span-2">
                    <mat-label>Start Time</mat-label>
                    <input matInput [ngxTimepicker]="starttime" required>
                    <ngx-material-timepicker #starttime></ngx-material-timepicker>
                </mat-form-field>
                <mat-form-field class="col-span-2">
                    <mat-label>End Time</mat-label>
                    <input matInput [ngxTimepicker]="endtime" required>
                    <ngx-material-timepicker #endtime></ngx-material-timepicker>
                </mat-form-field>
                </div>
                <mat-divider></mat-divider>
                <div class="grid grid-cols-6 gap-2 mt-4">
                    <div class="col-span-6">
                        <div class="grid grid-cols-6 gap-2">
                         <mat-form-field class="col-span-3">
                            <mat-label>Group Name</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                         </mat-form-field>
                         <mat-form-field class="col-span-3">
                            <mat-label>None Habituated</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                          </mat-form-field>
                        </div>
                        <p class="text-lg text-gray-600">Group exit point</p>
                        <mat-form-field class="w-full">
                            <mat-label>Location</mat-label>
                            <input type="tel" matInput placeholder="555-555-1234">
                        </mat-form-field>
                    </div>
                    <div class="col-span-6 grid grid-cols-6 gap-2">
                        <mat-form-field class="col-span-3">
                            <mat-label>Number of Individuals</mat-label>
                            <input matInput  formControlName="firstCtrl" required>
                        </mat-form-field>
                        <mat-form-field class="col-span-3">
                            <mat-label>Number of Individuals outside the park</mat-label>
                            <input matInput  formControlName="firstCtrl" required>
                        </mat-form-field>
                    </div>
                    
                    
                    
                </div>
                <div class="mt-4">
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>ACTIVITY BUDGET</ng-template>
                <!-- <mat-form-field>
                  <mat-label>Address</mat-label>
                  <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                         required>
                </mat-form-field> -->
                <div class="grid grid-cols-6 gap-4">
                    <div class="col-span-3">
                        <p class="font-semibold">Feeding</p>
                        <span class="example-list-section">
                            <ul>
                              <li *ngFor="let subtask of task.subtasks">
                                <mat-checkbox 
                                              [color]="subtask.color"
                                              (ngModelChange)="updateAllComplete()">
                                  {{subtask.name}}
                                </mat-checkbox>
                              </li>
                            </ul>
                        </span>
                        <mat-form-field class="example-chip-list">
                            <mat-label>Other species</mat-label>
                            <mat-chip-list #chipList aria-label="Fruit selection">
                              <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                       [removable]="removable" (removed)="remove(fruit)">
                                {{fruit.name}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input placeholder="type to add..."
                                     [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="addOnBlur"
                                     (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    <div class="col-span-3">
                        <p class="font-semibold">Resting</p> 
                        <div class="flex flex-col">
                            <span>- Distance from the park</span>
                            <span>- Period spent resting outside of the park</span>
                        </div>
                    </div>

                    <div class="col-span-3">
                        <p class="font-semibold">Travel</p> 
                        <div class="flex flex-col" >
                            <span>Distance walked outside of the park:</span>
                            <mat-form-field >
                                <input matInput  formControlName="secondCtrl" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-span-3">
                        <p class="font-semibold">Other Activities</p> 
                        <div class="flex flex-col" >
                            <span>Playing</span>
                            <span>Copulation</span>
                            <span>Fighting</span>
                            
                        </div>
                    </div>
                </div>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>INTERACTION WITH HUMANS AND LIVE STOCK</ng-template>
                <div class="grid grid-cols-6 gap-2">
                    <div class="col-span-6">
                        <div class="w-full">
                            <span class="py-2">Distance from Gorillas</span>
                            <div class="example-list-section">
                                  <span *ngFor="let subtask of task.subtasks"  class="mx-4">
                                    <mat-checkbox 
                                                  [color]="subtask.color"
                                                  (ngModelChange)="updateAllComplete()">
                                      {{subtask.name}}
                                    </mat-checkbox>
                                  </span>
                            </div>
                        </div>
                        <div class="w-full flex flex-col mt-4">
                            <span class="py-2">Reacton from Gorillas</span>
                            <div>
                                  <span *ngFor="let subtask of task.subtasks" class="mx-4">
                                    <mat-checkbox 
                                                  [color]="subtask.color"
                                                  (ngModelChange)="updateAllComplete()">
                                      {{subtask.name}}
                                    </mat-checkbox>
                                  </span>
                            </div>
                        </div>
                        <div class="w-full flex flex-col mt-4">
                            <span class="py-2">Observation from human Object</span>
                            <div>
                                  <span *ngFor="let subtask of task.subtasks" class="mx-4">
                                    <mat-checkbox 
                                                  [color]="subtask.color"
                                                  (ngModelChange)="updateAllComplete()">
                                      {{subtask.name}}
                                    </mat-checkbox>
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>TOURISM ACTIVITIES</ng-template>
                <div class="flex flex-col">
                    <div class="mt-4">
                        <div class="grid grid-cols-6 gap-2">
                         <div class="flex flex-col col-span-3" >
                            <span>Number of tourists:</span>
                            <mat-form-field >
                                <input matInput   required>
                            </mat-form-field>
                         </div>
                         <div class="flex flex-col col-span-3" >
                            <span>Period of visit outside the park:</span>
                            <mat-form-field >
                                <input matInput   required>
                            </mat-form-field>
                         </div>
                        </div>
                        <div class="flex flex-col">
                            <span>Any unusual behaviour during tourism visit(separate with comma or enter):</span>
                            <mat-form-field class="example-chip-list">
                                <mat-chip-list #chipList aria-label="Fruit selection">
                                  <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                           [removable]="removable" (removed)="remove(fruit)">
                                    {{fruit.name}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                  </mat-chip>
                                  <input placeholder="type to add..."
                                         [matChipInputFor]="chipList"
                                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                         [matChipInputAddOnBlur]="addOnBlur"
                                         (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>GORILLA HEALTH</ng-template>
                <div class="my-4">
                    <div class="w-full mt-4">
                        <span class="py-2">Any Sick Gorilla?</span>
                        <div class="example-list-section">
                              <span *ngFor="let subtask of task.subtasks"  class="mx-4">
                                <mat-checkbox 
                                              [color]="subtask.color"
                                              (ngModelChange)="updateAllComplete()">
                                  {{subtask.name}}
                                </mat-checkbox>
                              </span>
                        </div>
                    </div>
                    <div class="w-full mt-4">
                        <span class="py-2 font-semibold">What signs?</span>
                        <div class="example-list-section">
                              <span *ngFor="let subtask of task.subtasks"  class="mx-4">
                                <mat-checkbox 
                                              [color]="subtask.color"
                                              (ngModelChange)="updateAllComplete()">
                                  {{subtask.name}}
                                </mat-checkbox>
                              </span>
                              <span *ngFor="let subtask of task.subtasks"  class="mx-4">
                                <mat-checkbox 
                                              [color]="subtask.color"
                                              (ngModelChange)="updateAllComplete()">
                                  {{subtask.name}}
                                </mat-checkbox>
                              </span>
                        </div>
                    </div>
                </div>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>
          
    </div>
</div>
