.header{
    position: -webkit-sticky; 
  position: sticky;
  top: 0;
  
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}