<div class="main-home flex flex-col">
  <div class="inner-block">
    <div class="border-b border-[#D1DBEF]  py-2">
        <p class="text-center text-xl font-bold text-[#2196F3]"><span class="text-gray-600">Home -</span> New Report</p>
    </div>
    <div class="px-4 my-2 pt-4">
          <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>BASIC INFO</ng-template>
                <div class="grid grid-cols-6 gap-4 mt-4">
                <mat-form-field class="col-span-6 sm:col-span-3 md:col-span-2">
                    <mat-label>Report made at</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date" required [disabled]="disabled">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col-span-6 sm:col-span-3 md:col-span-2">
                    <mat-label>Start Time</mat-label>
                    <input matInput [ngxTimepicker]="starttime" formControlName="starttime" required>
                    <ngx-material-timepicker #starttime></ngx-material-timepicker>
                </mat-form-field>
                <mat-form-field class="col-span-6 sm:col-span-3 md:col-span-2">
                    <mat-label>End Time</mat-label>
                    <input matInput [ngxTimepicker]="endtime" formControlName="endtime" required>
                    <ngx-material-timepicker #endtime></ngx-material-timepicker>
                </mat-form-field>
                </div>
                <mat-divider></mat-divider>
                <div class="grid grid-cols-6 gap-2 mt-4">
                    <div class="col-span-6">
                        <div class="grid grid-cols-6 gap-2">
                         <mat-form-field class="col-span-6 sm:col-span-3">
                            <mat-label>Group Name</mat-label>
                            <input matInput placeholder="Name of group" formControlName="family" required>
                         </mat-form-field>
                         <mat-form-field class="col-span-6 sm:col-span-3">
                            <mat-label>None Habituated</mat-label>
                            <input matInput placeholder="None Habituated" formControlName="habituated" required>
                          </mat-form-field>
                        </div>
                        <p class="text-lg text-gray-600 font-semibold">Group exit point</p>
                        <div class="grid grid-cols-6 gap-2">
                        <mat-form-field class="col-span-6 sm:col-span-3">
                          <mat-label>Name of Village(Cell,Umudugudu)</mat-label>
                          <input type="text" matInput placeholder="Village" formControlName="village">
                      </mat-form-field>
                      <mat-form-field class="col-span-6 sm:col-span-3">
                        <mat-label>Distance moved outside the park</mat-label>
                        <input type="number" matInput placeholder="Distance" formControlName="distance">
                        <span matSuffix>Meters &nbsp;</span>
                    </mat-form-field>
                  </div>
                        <mat-form-field class="w-full">
                            <mat-label>Location</mat-label>
                            <input type="tel" matInput placeholder="Location" formControlName="location">
                        </mat-form-field>
                    </div>
                    <div class="col-span-6 grid grid-cols-6 gap-2">
                        <mat-form-field class="col-span-6 sm:col-span-3">
                            <mat-label>Number of Individuals</mat-label>
                            <input matInput type="number"  formControlName="individuals" required>
                        </mat-form-field>
                        <mat-form-field class="col-span-6 sm:col-span-3">
                            <mat-label>Number of Individuals outside the park</mat-label>
                            <input matInput type="number" formControlName="Oindividuals" required>
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="mt-4">
                  <button matStepperNext  class="mx-10 bg-[#bac4c5] hover:bg-[#78999E] hover:text-white px-8 py-2 transition-all">Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>ACTIVITY BUDGET</ng-template>
                <div class="grid grid-cols-6 gap-4 mt-4">
                    <div class="col-span-6 md:col-span-3">
                        <p class="font-semibold">Feeding</p>
                        <span class="example-list-section">
                          <section class="example-section grid grid-cols-6 gap-2 mt-4">
                            <p class="col-span-6 sm:col-span-3 md:col-span-2"><mat-checkbox color="primary" formControlName="eucalyptus" >Eucalyptus</mat-checkbox></p>
                            <p class="col-span-6 sm:col-span-3 md:col-span-2"><mat-checkbox color="primary" formControlName="bamboo">Bamboo</mat-checkbox></p>
                          </section>
                        </span>
                        <mat-form-field class="w-full my-4">
                            <mat-label>Other species</mat-label>
                            <mat-chip-list #chipList aria-label="Fruit selection">
                              <mat-chip *ngFor="let fruit of secondFormGroup.value.species" [selectable]="selectable"
                                       [removable]="removable" (removed)="remove(fruit,2)">
                                {{fruit}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input placeholder="type to add..."
                                     [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="addOnBlur"
                                     (matChipInputTokenEnd)="add($event,2)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    <div class="col-span-6 md:col-span-3">
                        <p class="font-semibold">Resting</p> 
                        <div class="flex flex-col">
                            <span>- Distance from the park</span>
                            <span>-Period spen resting outside the park:</span>
                            <mat-form-field >
                                <input matInput  formControlName="period" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-span-6 md:col-span-3">
                        <p class="font-semibold">Travel</p> 
                        <div class="flex flex-col" >
                            <span>Distance walked outside of the park:</span>
                            <mat-form-field >
                                <input matInput  formControlName="distance" required>
                                <span matSuffix>Meters &nbsp;</span>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-span-6 md:col-span-3">
                        <p class="font-semibold">Other Activities</p> 
                        <div class="flex flex-col" >
                            <span>Playing</span>
                            <span>Copulation</span>
                            <span>Fighting</span>
                            
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                  <button matStepperPrevious class="mx-10 bg-[#bac4c5] hover:bg-[#78999E] hover:text-white px-8 py-2 transition-all">Back</button>
                  <button matStepperNext class="mx-10 bg-[#bac4c5] hover:bg-[#78999E] hover:text-white px-8 py-2 transition-all">Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>INTERACTION WITH HUMANS AND LIVE STOCK</ng-template>
              <div class="grid grid-cols-6 gap-2 mt-4">
                  <div class="col-span-6">
                      <div class="w-full px-10 py-4 rounded border-b">
                          <span class="font-semibold">Distance from Gorillas</span>
                          <div class="mt-4">
                          <mat-radio-group
                                   aria-labelledby="example-radio-group-label"
                                   class="grid grid-cols-6 gap-2"
                                   formControlName="distance">
                                   <mat-radio-button color="primary" class="col-span-2" *ngFor="let distance of distances" [value]="distance">
                                     {{distance}}
                                   </mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                       <div class="w-full mt-4  px-10 py-4 rounded border-b">
                          <span class="font-semibold">Reacton from Gorillas</span>
                          <section class="example-section grid grid-cols-6 gap-2 mt-4">
                            <p class="col-span-6 sm:col-span-3 md:col-span-2"><mat-checkbox color="primary" formControlName="runningReaction">Running</mat-checkbox></p>
                            <p class="col-span-6 sm:col-span-3 md:col-span-2"><mat-checkbox color="primary" formControlName="chargingReaction">Charging</mat-checkbox></p>
                          </section>
                      </div>
                      <div class="w-full flex flex-col mt-4 px-10 py-4 rounded border-b">
                        <span class="font-semibold">Observation from Human Objects</span>
                        <section class="example-section grid grid-cols-6 gap-2 mt-4">
                          <p class="col-span-6 sm:col-span-3 md:col-span-2"><mat-checkbox color="primary" formControlName="dungObservation" >Dung</mat-checkbox></p>
                          <p class="col-span-6 sm:col-span-3 md:col-span-2"><mat-checkbox color="primary" formControlName="clothingObservation">Clothes</mat-checkbox></p>
                          <p class="col-span-6 sm:col-span-3 md:col-span-2"><mat-checkbox color="primary" formControlName="hutObservation">Hut</mat-checkbox></p>
                        </section>
                    </div>
                    <div class="w-full flex flex-col mt-4 px-10 py-4 rounded border-b">
                        <span>Any unusual behaviour during tourism visit(separate with comma or enter):</span>
                        <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipList aria-label="Fruit selection">
                              <mat-chip *ngFor="let fruit of thirdFormGroup.value.behaviour" [selectable]="selectable"
                                       [removable]="removable" (removed)="remove(fruit,3)">
                                {{fruit}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input placeholder="type to add..."
                                     [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="addOnBlur"
                                     (matChipInputTokenEnd)="add($event,3)">
                            </mat-chip-list>
                        </mat-form-field>
                  </div>
                  </div>
              </div>
              <div class="mt-4">
                <button matStepperPrevious class="mx-10 bg-[#bac4c5] hover:bg-[#78999E] hover:text-white px-8 py-2 transition-all">Back</button>
                <button matStepperNext class="mx-10 bg-[#bac4c5] hover:bg-[#78999E] hover:text-white px-8 py-2 transition-all">Next</button>
              </div>
            </form>
            </mat-step>
            <mat-step [stepControl]="forthFormGroup">
              <form [formGroup]="forthFormGroup">
              <ng-template matStepLabel>TOURISM ACTIVITIES</ng-template>
              <div class="flex flex-col mt-4">
                  <div class="mt-4">
                      <div class="grid grid-cols-6 gap-2">
                       <div class="flex flex-col col-span-6 md:col-span-3" >
                          <span>Number of tourists:</span>
                          <mat-form-field >
                              <input type="number" matInput  required formControlName="tourists">
                          </mat-form-field>
                       </div>
                       <div class="flex flex-col col-span-6 md:col-span-3" >
                          <span>Period of visit outside the park:</span>
                          <mat-form-field >
                              <input type="text" matInput formControlName="period"  required>
                          </mat-form-field>
                       </div>
                      </div>
                      <div class="flex flex-col">
                          <span>Any unusual behaviour during tourism visit(separate with comma or enter):</span>
                          <mat-form-field class="example-chip-list">
                              <mat-chip-list #chipList aria-label="Fruit selection">
                                <mat-chip *ngFor="let fruit of forthFormGroup.value.behaviour" [selectable]="selectable"
                                         [removable]="removable" (removed)="remove(fruit,42)">
                                  {{fruit}}
                                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="type to add..."
                                       [matChipInputFor]="chipList"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur"
                                       (matChipInputTokenEnd)="add($event,42)">
                              </mat-chip-list>
                          </mat-form-field>
                      </div>
                  </div>
              </div>
              <div class="mt-4">
                <button matStepperPrevious class="mx-10 bg-[#bac4c5] hover:bg-[#78999E] hover:text-white px-8 py-2 transition-all">Back</button>
                <button matStepperNext class="mx-10 bg-[#bac4c5] hover:bg-[#78999E] hover:text-white px-8 py-2 transition-all">Next</button>
              </div>
            </form>
            </mat-step>
            <mat-step [stepControl]="fifthFormGroup">
              <form [formGroup]="fifthFormGroup">
              <ng-template matStepLabel>GORILLA HEALTH</ng-template>
              <div class="my-4">
                  <div class="w-full px-10 py-4 rounded border-b mt-4">
                      <span class="font-semibold">Any Sick Gorilla?</span>
                      <div class="mt-4">
                        <mat-radio-group
                                 aria-labelledby="example-radio-group-label"
                                 class="grid grid-cols-6 gap-2"
                                 formControlName="sick">
                                 <mat-radio-button color="primary" class="col-span-3 lg:col-span-2" *ngFor="let sick of anySick" [value]="sick.value">
                                   {{sick.dValue}}
                                 </mat-radio-button>
                        </mat-radio-group>
                      </div>
                     
                  </div>
                  <div class="w-full mt-4  px-10 py-4 rounded border-b">
                      <span class="font-semibold">What signs?</span>
                      <section class="example-section grid grid-cols-6 gap-2 mt-4">
                        <p class="col-span-6 sm:col-span-4 md:col-span-3 lg:col-span-2"><mat-checkbox color="primary" formControlName="cough" >Dung</mat-checkbox></p>
                        <p class="col-span-6 sm:col-span-4 md:col-span-3 lg:col-span-2"><mat-checkbox color="primary" formControlName="flu">Flu</mat-checkbox></p>
                        <p class="col-span-6 sm:col-span-4 md:col-span-3 lg:col-span-2"><mat-checkbox color="primary" formControlName="injury">Injury</mat-checkbox></p>
                        <p class="col-span-6 sm:col-span-4 md:col-span-3 lg:col-span-2"><mat-checkbox color="primary" formControlName="limbbroken">Broken Limb</mat-checkbox></p>
                        <p class="col-span-6 sm:col-span-4 md:col-span-3 lg:col-span-2"><mat-checkbox color="primary" formControlName="diarrhea">Diarrhea</mat-checkbox></p>
                      </section>
                  </div>
              </div>
              <div>
                <button mat-button class="mx-10 bg-[#bac4c5] hover:bg-[#78999E] hover:text-white px-8 py-2 transition-all">Back</button>
                <button matStepperNext class="mx-10 bg-[#bac4c5] hover:bg-[#78999E] hover:text-white px-8 py-2 transition-all">Next</button>
              </div>
            </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>DONE AND SAVE</ng-template>
              <p>You have completed the whole report process.</p>
              <div>
                <button matStepperPrevious  class="mx-10 bg-[#bac4c5] hover:bg-[#78999E] hover:text-white px-8 py-2 transition-all">Back</button>
                <button (click)="submit()" class="mx-10 bg-[#5c9dd3] hover:bg-[#2196F3] hover:text-white px-8 py-2 transition-all">Save report</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>
          
    </div>
    </div>
</div>
