<div class="min-h-screen">
<div class="full-height">
  <div class="form">
<form class="bg-white shadow-lg rounded-sm" [formGroup]="loginFormGroup" (ngSubmit)="submit()">
    <div class="py-4 px-8">
        <div>
          <p class="text-gray-800 text-2xl font-medium">Login</p>
          <p class="mt-2 text-gray-600 text-md">Type your group code and password to enter</p>
        </div>
        <div class="mat-dialog-content" >
  
          <div class="flex flex-col">
            <mat-form-field color="primary">
              <input matInput type="text" #codeinput class="form-control" placeholder="Team Code"  formControlName="code" required minlength="7" maxlength="10" >
              <mat-hint align="end">{{codeinput.value?.length || 0}}/10</mat-hint>
            </mat-form-field>
            <mat-form-field color="primary">
                <input matInput [type]="hide ? 'password' : 'text'" #password formControlName="password"    placeholder="Password" required minlength="5" maxlength="20" >
                <mat-icon matSuffix (click)="hide = !hide" class="cursor-pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint align="end">{{password.value?.length || 0}}/20</mat-hint>
              </mat-form-field>
          </div>
        </div>
        <div class="flex flex-col items-center mx-auto">
          <p class="text-red-500">{{error}}</p>
        </div>  
        <div class="flex justify-end mt-4">
          <button routerLink="/" class="text-center w-32 rounded text-[#2196F3] py-2 font-medium focus:outline-none hover:underline" ><span>Cancel</span></button>
          <button [disabled]="loginFormGroup.invalid" class="text-center w-32 bg-[#2196F3] rounded text-white py-2 font-medium focus:outline-none" ><span *ngIf="loading == false">Login</span><mat-spinner *ngIf="loading == true" color="primary" diameter="20"></mat-spinner></button>
        </div>
      </div>
    </form>
  </div>
  </div>
  </div>