<div class="w-full px-20 py-10 mx-2">
    <p class="text-2xl font-semibold text-[#2196F3] text-center">Report viewer</p>
    <mat-divider></mat-divider>

    <div class="w-full grid grid-cols-12 gap-2 mt-2">
        <div class="col-span-5">
            <div class="w-full bg-white shadow-lg rounded py-2 grid justify-items-center max-h-24 my-2">
                <p class="">Report date: 26 July 2021</p>
                <div class="w-full grid grid-cols-6 gap-1 justify-items-center">
                    <p class="col-span-3">Start Time: 8 AM </p>
                    <p class="col-span-3">End Time: 4 PM </p>
                </div>
            </div>

            <div class="w-full bg-white shadow-lg rounded py-2 grid justify-items-center my-2">
                <p class="font-semibold">Base Information</p>
                <mat-divider></mat-divider>
                <div class="w-full grid grid-cols-6 gap-0 px-4">
                    <p class="col-span-3">Group Name: Amahoro</p>
                    <p class="col-span-3">No habituated: Habituated</p>
                    <p class="col-span-6 text-center font-semibold my-0 py-0">Group exit point</p>
                    <mat-divider class="col-span-6 my-0 py-0"></mat-divider>
                    <p class="col-span-3 pt-2">Village Name: Rugi</p>
                    <p class="col-span-3 pt-2">Distance reached outside park: 26 M</p>
                    <p class="col-span-3">Location: Gashangiro</p>
                    <p class="col-span-3">Number of Individuals: 40</p>
                    <p class="col-span-3">Number of Individuals outside the park: 18</p>
                </div>
    
            </div>
        </div>

        <div class="col-span-7">
            <div class="w-full bg-white shadow-lg rounded py-2 grid justify-items-center my-2">
                <p class="font-semibold">Activity Budget</p>
                <div class="w-full grid grid-cols-6 gap-0 px-2">
                    <div class="col-span-3 flex">
                        <span class="font-semibold mr-4">Feeding</span>
                        <div class="w-full flex flex-col">
                            <span class="">. Eucalptus</span>
                            <span class="">. Bamboo</span>
                            <span class="">. Leganes</span>
                            <span class="">. Potatoes</span>
                        </div>
                    </div>
                    <div class="col-span-3 flex">
                        <span class="font-semibold mr-4">Resting</span>
                        <div class="w-full flex flex-col">
                            <span class="">. 20 meters moved away from the park</span>
                            <span class="">. 38 minutes spent resting outside the park</span>
                        </div>
                    </div>
                    <div class="col-span-3 flex mt-4">
                        <span class="font-semibold mr-4">Travel</span>
                        <div class="w-full flex flex-col">
                            <span class="">. 45 meters walked outside the park</span>
                        </div>
                    </div>
                    <div class="col-span-3 flex mt-4">
                        <span class="font-semibold mr-4">Other Activities</span>
                        <div class="w-full flex flex-col">
                            <span class="">. Playing</span>
                            <span class="">. Copulation</span>
                            <span class="">. Fighting</span>
                        </div>
                    </div>
                </div>
    
            </div>
    
    
            <div class="w-full bg-white shadow-lg rounded py-2 grid justify-items-center my-2">
                <p class="font-semibold">Info</p>
                <mat-divider></mat-divider>
                <div class="w-full grid grid-cols-6 gap-0 px-4">
                    <p class="col-span-3">Group Name: Amahoro</p>
                    <p class="col-span-3">No habituated: Habituated</p>
                    <p class="col-span-6 text-center font-semibold text-lg">Group exit point</p>
                    <!-- <mat-divider class="col-span-6"></mat-divider> -->
                    <p class="col-span-3">Village Name: Rugi</p>
                    <p class="col-span-3">Distance reached outside park: 26 M</p>
                    <p class="col-span-3">Location: Gashangiro</p>
                    <p class="col-span-3">Number of Individuals: 40</p>
                    <p class="col-span-3">Number of Individuals outside the park: 18</p>
                </div>
    
            </div>
        </div>
    </div>

</div>
