<div class="w-full sm:px-4 md:px-10 lg:px-16 py-10 mx-2 h-screen overflow-y-auto">
    <p class="text-2xl font-semibold text-[#2196F3] text-center">Report viewer</p>
    <mat-divider></mat-divider>

    <div class="w-full grid grid-cols-12 gap-2 mt-2">
        <div class="col-span-12 lg:col-span-5">
            <div class="w-full bg-white shadow-lg rounded py-2 grid justify-items-center max-h-24 my-2 hover:shadow-2xl">
                <p class="font-semibold ">Date and Time</p>
                <p class="border-blue-500 hover:border-b">Report date: 26 July 2021</p>
                <div class="w-full grid grid-cols-6 gap-1 justify-items-center">
                    <p class="col-span-3 border-blue-500 hover:border-b">Start Time: 8 AM </p>
                    <p class="col-span-3 border-blue-500 hover:border-b">End Time: 4 PM </p>
                </div>
            </div>

            <div class="w-full bg-white shadow-lg rounded py-2 grid justify-items-center my-2 hover:shadow-2xl">
                <p class="font-semibold">Base Information</p>
                <mat-divider></mat-divider>
                <div class="w-full grid grid-cols-6 gap-2 px-4">
                    <p class="col-span-3 border-blue-500 hover:border-b">Group Name: Amahoro</p>
                    <p class="col-span-3 border-blue-500 hover:border-b">No habituated: Habituated</p>
                    <p class="col-span-6 text-center font-semibold my-0 py-0">Group exit point</p>
                    <mat-divider class="col-span-6 my-0 py-0"></mat-divider>
                    <p class="col-span-3 border-blue-500 hover:border-b pt-2">Village Name: Rugi</p>
                    <p class="col-span-3 border-blue-500 hover:border-b pt-2">Distance reached outside park: 26 M</p>
                    <p class="col-span-3 border-blue-500 hover:border-b">Location: Gashangiro</p>
                    <p class="col-span-3 border-blue-500 hover:border-b">Number of Individuals: 40</p>
                    <p class="col-span-3 border-blue-500 hover:border-b">Number of Individuals outside the park: 18</p>
                </div>
    
            </div>
            <div class="w-full bg-white shadow-lg rounded py-2 grid justify-items-center my-2 hover:shadow-2xl">
                <p class="font-semibold">Tourism Activities</p>
                <p class="border-blue-500 hover:border-b">Number of Tourists: 18 Tourists</p>
                <p class="border-blue-500 hover:border-b">Period: 2 hours of visit outside the park</p>
                <div class="w-full flex px-10">
                    <span class="font-semibold mr-4 border-blue-500 hover:border-b">Unusual behaviors</span>
                    <div class="w-full flex flex-col">
                        <span class="">. Furiuos</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-12 lg:col-span-7">
            <div class="w-full bg-white shadow-lg rounded py-2 grid justify-items-center my-2 hover:shadow-2xl">
                <p class="font-semibold">Activity Budget</p>
                <div class="w-full grid grid-cols-6 gap-0 px-2">
                    <div class="col-span-6 md:col-span-3 border-blue-500 hover:border-b flex">
                        <span class="font-semibold mr-4">Feeding</span>
                        <div class="w-full flex flex-col">
                            <span class="">. Eucalptus</span>
                            <span class="">. Bamboo</span>
                            <span class="">. Leganes</span>
                            <span class="">. Potatoes</span>
                        </div>
                    </div>
                    <div class="col-span-6 md:col-span-3 border-blue-500 hover:border-b flex mt-4">
                        <span class="font-semibold mr-4">Resting</span>
                        <div class="w-full flex flex-col">
                            <span class="">. 20 meters moved away from the park</span>
                            <span class="">. 38 minutes spent resting outside the park</span>
                        </div>
                    </div>
                    <div class="col-span-6 md:col-span-3 border-blue-500 hover:border-b flex mt-4">
                        <span class="font-semibold mr-4">Travel</span>
                        <div class="w-full flex flex-col">
                            <span class="">. 45 meters walked outside the park</span>
                        </div>
                    </div>
                    <div class="col-span-6 md:col-span-3 border-blue-500 hover:border-b flex mt-4">
                        <span class="font-semibold mr-4">Other Activities</span>
                        <div class="w-full flex flex-col">
                            <span class="">. Playing</span>
                            <span class="">. Copulation</span>
                            <span class="">. Fighting</span>
                        </div>
                    </div>
                </div>
    
            </div>
    
    
            <div class="w-full bg-white shadow-lg rounded py-2 grid justify-items-center my-2 hover:shadow-2xl">
                <p class="font-semibold">Interations with Human and livestock</p>
                <mat-divider></mat-divider>
                <div class="w-full grid grid-cols-6 gap-0 px-4">
                    <p class="col-span-6 border-blue-500 hover:border-b">Distance from gorillas: Less than 50 M</p>
                    <div class="col-span-3 border-blue-500 hover:border-b mt-2">
                        <span class="font-semibold mr-4">Reaction from gorillas</span>
                        <div class="w-full flex flex-col">
                            <span class="">. Running</span>
                            <span class="">. Charging</span>
                        </div>
                    </div>
                    <div class="col-span-3 border-blue-500 hover:border-b mt-2">
                        <span class="font-semibold mr-4">Observation from human Objects</span>
                        <div class="w-full flex flex-col">
                            <span class="">. Dung</span>
                            <span class="">. Clothes</span>
                            <span class="">. Hut</span>
                        </div>
                    </div>
                    <div class="col-span-6 flex mt-2 border-blue-500 hover:border-b">
                        <span class="font-semibold mr-4">Any noticeable behavior</span>
                        <div class="w-full flex flex-col">
                            <span class="">. Sleeping</span>
                            <span class="">. Broken leg</span>
                            <span class="">. Anglier</span>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="w-full bg-white shadow-lg rounded py-2 grid justify-items-center my-2 hover:shadow-2xl">
                <p class="font-semibold">Sickness</p>
                <p class="border-blue-500 hover:border-b">Is there any sick gorillas: Yes, Sick gorillas reported</p>
                <div class="w-full flex px-10 border-blue-500 hover:border-b">
                    <span class="font-semibold mr-4">What signs</span>
                    <div class="w-full flex flex-col">
                        <span class="">. Cough</span>
                        <span class="">. Flu</span>
                        <span class="">. Injury</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 pt-4 px-4 bg-white rounded shadow-lg">
            <p class="w-full text-center border-blue-500 hover:border-b">Team leader: Kwizera Emmanuel</p>
            <p class="w-full text-center text-[#2196F3] cursor-pointer" routerLink="/reports">View other reports</p>
        </div>
    </div>

    <div class="footer bg-white flex flex-col items-center mx-auto rounded mt-4">
        <a class="pt-2 pb-2" href="https://munezero.me">Copyright &copy; Didier Munezero 2021</a>
    </div>


</div>
