<div class="flex flex-col">
    <div class="flex flex-col mt-6">
        <p class="text-center text-xl ">{{date | date:'EEEE, MMM d y'}}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="px-2 mx-2 mt-4 shadow-lg rounded bg-white">
    <div class="grid justify-items-center mt-6 border-b">
        <div class="h-20 w-20 rounded-full bg-[#2196F3]"></div>
        <p class="font-semibold">{{group?.name}} Group</p>
    </div>
    <div class="px-4 py-2 flex-col grid justify-items-center border-t border-b">
        <p>Team Leader</p>
        <p class="w-full text-center  py-1">{{group?.leader}}</p>
    </div>
    <div class="px-4 py-2 flex-col grid justify-items-center border-t border-b ">
        <p>Team Code</p>
        <p class="w-full text-center  py-1">{{group.code}}</p>
    </div>
</div>

</div>
