svg{
    fill: #1D1D1D;
    &:hover{
        fill: #2196F3;
    }
}
span{
    font-size: 17px
}

.main{
    background: #e6f2fc;
    border-right: 5px solid #2196F3;
    svg{
    fill: #2196F3;
}
span{
    color: #2196F3;
    font-weight: 500;
}
}

.link{
    width: 100%;
}