<div class="flex flex-col">
    <div class="flex flex-col mt-6">
        <p class="text-center text-xl ">Tuesday, 19 April 2021</p>
    </div>
    <mat-divider></mat-divider>
    <div class="px-2 mx-2 mt-4 shadow-lg rounded bg-white">
        <p class="uppercase text-xl text-center py-2 font-semibold">New Group</p>
    <div class="px-4 py-2 flex-col grid justify-items-center border-t border-b">
        <p>Team Leader</p>
        <p class="w-full text-center  py-1">Nteziriza Erneste</p>
    </div>
    <div class="px-4 py-2 flex-col grid justify-items-center border-t border-b ">
        <p>Team Code</p>
        <p class="w-full text-center  py-1">****************</p>
    </div>
</div>

</div>
